<div class="container">
    <div class="py-4">
        <div class="alert alert-primary">
            <div class="row">
                <div class="col">Msg Script</div>
                <div class="col"><input type="text" class="form-control" id="msgScript" placeholder="Message..."/></div>
                <div class="col"><button type="button" class="btn btn-primary" id="btnSend">Send</button></div>
            </div>
        </div>

        <div class="alert alert-info">
            <div class="p-4">
                <div class="alert" *ngfor="">

                </div>
            </div>
        </div>
    </div>
</div>